---
const { text, class: className, ...rest } = Astro.props;
---

<a class={className} {...rest}>
    {text}
</a>

<style>
    a {
        padding: 4px 8px;
        width: fit-content;
        height: 32px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: all ease-in-out 0.3s;
    }
</style>
