---
import Button from "../components/Button.astro";
---

<header>
    <nav>
        <div class="logo">
            <h3>Logo</h3>
        </div>
        <div class="menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Recipes</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </div>
        <div class="buttons">
            <Button class="primary-btn" text="Log in" />
            <Button class="secondary-btn" text="Register" />
        </div>
    </nav>
</header>
