---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
import H1 from "../components/H1.astro";
import Wrapper from "./Wrapper.astro";
---

<main title="Astro">
    <slot />
</main>
