---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import H1 from "../components/H1.astro";
---

<div id="container">
	<main title="Astro">
		<H1 text="Astro" />
		<div class="card-container">
			<div class="card"></div>
			<div class="card"></div>
			<div class="card"></div>
			<div class="card"></div>
		</div>
	</main>
</div>
